/* André Canesin - www.andrecanesin.com.br */

/* ==========================================================================
     Animation CSS ALL

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s    ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

     ========================================================================== */


/* ==========================================================================
     Animation Element CSS ALL

    -webkit-animation: in 5s ease;
    animation: in 5s ease;
}

@-webkit-keyframes in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}
========================================================================== */

/* ==========================================================================
     Alinhamento vertical

:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

========================================================================== */

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: #302c2d;
}

::-moz-selection {
    text-shadow: none;
    background: #8cc76a;
    color: #fff
}

::selection {
    text-shadow: none;
    background: #8cc76a;
    color: #fff;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #8cc76a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #8cc76a;
}

a,
button {
    color: #302c2d;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s    ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f2f4ef;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #8cc76a;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #8cc76a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #000;
    color: #fff;
    background-color: #000;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #000;
    background-color: #000;
}

.btn-primary .badge {
    color: #8cc76a;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: transparent;

    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s    ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

/*SHRINK*/

.navbar.shrink{
    background-color: #fff;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.navbar.shrink .navbar-nav {
    padding: 0;
    padding-top: 3px;
}

.navbar.shrink .navbar-brand {
    width: 200px;
    height: 63px;
    background-image: url(../img/logo.png);
    margin: 0 !important;
}

.navbar.shrink li a {
    color: #302c2d !important;
    margin-top: 4px;
}

.navbar.shrink li.active a,
.navbar.shrink li.active a:hover,
.navbar.shrink li.active a:focus {
    color: #302c2d !important;
}

.navbar.shrink li a img.do-shrink {
    opacity: 0;
}

.navbar-default .navbar-brand {
    width: 200px;
    height: 63px;
    background-image: url(../img/logo-branco.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 15px 0 0 15px !important;
}

.navbar-nav {
    padding: 20px;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s    ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar li a {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.navbar li a img {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -37px;
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s    ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar li a:hover img,
.navbar li a:focus img {
    opacity: 1;
}

.navbar li.active a img {
    opacity: 1;
}

.navbar li.active a,
.navbar li.active a:hover,
.navbar li.active a:focus {
    outline: 0;
    color: #fff !important;
    background-color: transparent !important;
}

.principal_header .banner {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



.zoom {
    width: 80px;
    height: 80px;
    background: #000 url(../img/zoom.png) no-repeat center center;
    position: absolute;
    right: 10px;
}

.zoom:hover {
    background: #8cc76a url(../img/zoom.png) no-repeat center center;
}

.principal_header .banner .intro-banner {
    padding: 20px;
    position: absolute;
    left: 0;
    color: #fff;
    /*border: 7px solid #fff;*/
    bottom: 0;
    background-color: #8cc76a;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/*.principal_header .banner .intro-banner-on {
    top: 30px;
}*/

.principal_header .endereco {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.principal_header .banner .intro-banner h1 {
    color: #fff;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
/*    margin-bottom: 20px;*/

}

.principal_header .banner .intro-banner p {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.principal_header .banner .intro-banner .btn-primary {
    background-color: transparent;
    border-color: transparent;
    margin-top: 30px;
    float: right;
    padding: 0;
}

.bx-wrapper {
    position: relative;
}

.bx-controls {
    position: absolute;
    left: 50%;
    width: 161px;
    bottom: 0;
    margin-left: -80px;
}

.bx-controls .bx-prev,
.bx-controls .bx-next {
    width: 80px;
    float: left;
    height: 80px;
}

.bx-controls .bx-next {
    background: #000 url(../img/seta-right.png) no-repeat center center;
    float: right;
}

.bx-controls .bx-prev {
    background: #000 url(../img/seta-left.png) no-repeat center center;
}

.bx-controls .bx-prev:hover {
    background: #8cc76a url(../img/seta-left.png) no-repeat center center;
}

.bx-controls .bx-next:hover {
    background: #8cc76a url(../img/seta-right.png) no-repeat center center;
}

.img-sobre {
    padding: 90px;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sobre-destaque {
    padding: 90px;
    /*background-color: #000;
    color: #fff;*/
}

.o-arquiteto {
    background-color: #f2f4ef;
    padding: 90px;
}

.header_interna {
    background-color: #000;
    color: #fff;
}

header.header_interna .section-subheading {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-transform: none
}

section {
    padding: 150px 0 100px;
}

section#fake {
    padding: 10px 0;
}

header.header_interna {
    padding: 130px 0;
    margin-bottom: 45px;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #8cc76a;
}

section#administracao .galeria-adm {
    position: relative;

}

section#portfolio {
    padding: 45px 0 30px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 30px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(140,199,106,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

section#contact {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading,
section#contact .section-subheading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #8cc76a;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
    transition: all 0.3s ease;
}
.filter-wrapper li:hover {
    background: #8cc76a;
}
.filter-wrapper li:hover a {
    color: #fff;
    border: 1px solid #8cc76a;
}
.filter-wrapper li a {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .navbar-default {
        background-color: #fff;
        border-bottom: 1px solid #e2e1e1;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .navbar-default .navbar-brand {
        background: url(../img/logo.png) no-repeat center center;
        margin-top: 0 !important;
        margin-left: 15px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        border: none;
        margin-right: 30px;
        margin-top: 16px;
    }
    .navbar-collapse {
        border-top: none;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: #fff;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar li a:hover {
        color: #8cc76a !important;
    }

    .navbar li a img {
        display: none;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #013241;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar .container-fluid {
        padding: 0;
    }

    .navbar-default .nav li a {
        font-size: 14px;
        color: #013241;
    }
}

@media (max-width: 768px) {


}


